@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

.league-spartan-thin {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
}

.league-spartan-hairline {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
}

.league-spartan-light {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
}

.league-spartan-normal {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.league-spartan-medium {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

.league-spartan-semibold {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}

.league-spartan-bold {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; 
}


@tailwind base;
@tailwind components;
@tailwind utilities;



*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
	font-family: "League Spartan", sans-serif;
}

body{
  @apply bg-lightGrayishCyan-filterTablets w-full h-full flex flex-col justify-center items-center pb-10
}

.filter-input{
  @apply flex justify-center bg-white p-5 py-3 shadow-xl text-darkGrayishCyan  font-semibold
}

ul{
  @apply flex flex-col gap-10 relative mt-36 z-10
}

div{
  @apply cursor-default
}

li{
  @apply bg-white shadow-xl flex flex-col md:flex-row justify-between gap-4 md:gap-10 pt-5 pb-3 px-4 md:py-6 md:px-9  rounded-sm hover:scale-[1.02] duration-200
}

.line{
  @apply block md:hidden w-full h-[1px] bg-darkGrayishCyan rounded-full
}

p, h1, h2, h3, h4, h5, h6{
  @apply my-auto cursor-default
}

.filter{
  @apply bg-lightGrayishCyan-filterTablets text-xs md:text-base w-fit py-1 px-2 rounded-lg cursor-pointer hover:bg-darkGrayishCyan hover:text-lightGrayishCyan duration-200
}

.filter-chip{
  @apply w-fit flex  bg-lightGrayishCyan-filterTablets rounded-l-md
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
